.back {
    background-color: #b1fff8;
    max-width: 120px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;

    span {
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        transform: scale(1.08);
        background-color: #70a19d;

        span {
            color: white;
        }
    }
}